Object Type: Certificate Extension
Version: 1
Name: inhibitAnyPolicy
Extension class: BasicCertificateExtension
Object Identifier: 2.5.29.54
Critical: false
Required: false
Properties:
  encoding: DERINTEGER
  value: '0'
  dynamic: 'true'
